.stars {
  display: flex;
  align-items: center;
}
@media (max-width: 769px) {
  .stars {
    justify-content: center;
  }
}

.stars strong {
  /* color: #00000059; */
  color: #454545;
  font-family: Righteous;
  margin-left: 10px;
  width: 16px;
  font-size: 18px;
}

@media (max-width: 769px) {
  .stars strong {
    padding-top: 3px;
    font-size: 21px;
    margin-left: 5px;
    /* padding: 0 16px; */
  }
}
