.nav {
  position: relative;
  padding: 60px 0;
}

.navRaber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav li {
  font-size: 21px;
  letter-spacing: 0.1px;
  position: relative;
}

.nav .link {
  text-transform: capitalize;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-secodery-3);
}

.cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .cart {
    width: fit-content;
    margin: 0 auto;
  }
}

.imeContainer {
  background: #daccce;
  padding: 2px 4px 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

@media (max-width: 992px) {
  .imeContainer {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .imeContainer {
    background: #4a4a4a;
    width: 45px;
    height: 45px;
  }
}

.myCart {
  width: 81%;
}
.cartCount {
  position: absolute;
  top: 0px;
  left: 86%;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: var(--color-primary-2);
  background: #8b6569;
  border-radius: 50%;
}

.nav .register {
  padding: 7px 21px;
  border: 1px solid var(--color-primary-1);
  border-radius: 32px;
  color: var(--color-primary-1);
  transition: 0.2s;
}
.nav .register:global(.active),
.nav .register:hover {
  color: var(--color-primary-2);
  background-color: var(--color-primary-1);
  border: 1px solid #dcd2d5;
  box-shadow: 0 0 1px 1px var(--color-primary-1);
}

.nav li:hover .link:not(.link:nth-last-child(1)) {
  color: var(--color-primary-1);
}

.nav a:global(.active) {
  color: var(--color-primary-1);
}

.line {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10px;
  height: 3px;
}

.line::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 0%;
  height: 100%;
  background-color: var(--color-primary-1);
  border-radius: 17px;
  transition: 0.3s;
}
.nav li:hover .line::before {
  width: 100%;
}

.nav a:global(.active) + .line::before {
  width: 100%;
}

@media (max-width: 992px) {
  .nav ul {
    gap: 25px;
  }
  .nav li {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .nav .navRaber {
    justify-content: space-around;
  }

  .nav ul {
    display: none;
  }
  ul.barActive {
    display: block;
  }

  .nav .listOne,
  .nav .listTwo {
    min-width: 250px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    border: 2px solid var(--color-primary-1);
  }

  .nav .listOne {
    background: var(--color-secodery-4);
    transform: translate(-50%, 32%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    opacity: 0.9;
  }
  .nav .listTwo {
    background: var(--color-secodery-4);
    transform: translate(-50%, 193%);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0.9;
  }

  .nav li {
    font-size: 19px;
    letter-spacing: 0.1px;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 13px;
  }

  .nav .register {
    border: 1px solid #483133;
    border-radius: 32px;
    color: #582d32;
    height: 40px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
